@font-face {
    font-family: "Amfibia";
    src: url('amfibia-condensed/Amfibia-LightCondensed.eot') format('embedded-opentype'),
         url('amfibia-condensed/Amfibia-LightCondensed.ttf') format('truetype'); 
    font-weight: normal;
}

@font-face {
    font-family: "Amfibia";
    src: url('amfibia-condensed/Amfibia-BoldCondensed.ttf') format('truetype');
    font-weight: bold;
}